<h1>All bands</h1>
<a href="<% new_band_url %>">Make a new band</a>

<ul>
  <% @bands.each do |band| %>
    <li>
      <%= band.name %> |
      <a href="<% band_url(band) %>">View band</a> |
      <form action="<%= bands_url %>" method="POST">
        <input type="hidden" name="_method" method="DELETE">
        <input type="submit" value="Delete">
      </form> 
        
    </li>
  <% end %>
</ul>

